/* -- Globales -- */

:root {
    --color-principal: rgb(214, 60, 60);
    --color-principal-oscuro: rgb(145, 42, 42);
    --color-secundario: rgb(65, 224, 105);
    --color-negro: rgb(25, 25, 25);
    --color-gris: rgb(235, 235, 235);
    --color-blanco: rgb(245, 245, 245);
    --gradiente-color-principal: linear-gradient(to left top, #c93131, #ce3a3a, #dd4d4c, #e65f5f, #ec6c6c);
}

p,
h1,
h2,
h3,
h4,
a,
label {
    font-family: 'Inter', sans-serif;
    color: var(--color-negro);

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--color-blanco);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

div {
    border-radius: 10px;
}

.enlace:hover {
    color: var(--color-principal);
}

.contenedor {
    width: 90%;
    margin: 10px auto;
}

.contenedor-ancho{
    width: 100%;
}

.titulo {
    font-size: 32px;
    text-align: center;
}

.texto-grande {
    font-size: 28px;
    color: var(--color-principal);
    font-weight: lighter;
}

/* -- Articulo -- */
.articulo-contenedor {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.3);
}

.imagen-articulo {
    max-height: 300px;
    width: auto;
    align-self: center;
}

.articulo-contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.titulo-articulo {
    font-weight: bold;
    color: var(--color-principal);
}

.enlace-articulo {
    margin: auto 0 0 auto;
    padding: 15px;
    background-color: var(--color-blanco);
    font-size: 24px;
    font-weight: lighter;
    border-radius: 30px;
    transition: all .4s ease;
}

.enlace-articulo:hover { 
    transform: translate(0, -3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* -- Cabecera -- */
.cabecera {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 80px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    background-image: var(--gradiente-color-principal);
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    max-height: 40px;
    border-radius: 0;
}

.cabecera--navegacion {
    display: flex;
    gap: 20px;
}

.navegacion--enlace {
    transition: all .4s ease;
    color: var(--color-blanco);
}

.navegacion--enlace:hover {
    color:  var(--color-blanco);
    text-shadow: 0 0 7px rgb(255, 255, 255);
}

/* -- Cuerpo -- */
main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.titulo-cabecera {
    font-size: 42px;
    font-weight: lighter;
    padding: 20px 0;
}

.titulo-cabecera span {
    font-size: 80px;
    font-weight: bold;
    color: var(--color-secundario);

    background-image: url(./../img/paint.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.titulo-cabecera span:nth-child(even) {
    top: -5px;
}
.titulo-cabecera span:nth-child(odd) {
    top: 20px;
}

.introduccion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.introduccion .articulo-contenedor:nth-last-of-type(1) {
    grid-column: 1 / 3;
}

.nuestros-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: justify;
    
    min-height: 300px;
    background-color: var(--color-gris);
    background-image: url(./../img/jackBackground.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0;
}

.nuestros-productos_textos{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.nuestros-productos_textos h2, h3, h4 {
    width: fit-content;
}

.nuestros-productos h2 {
    font-size: 52px;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 10px;
}

.nuestros-productos h3 {
    font-size: 32px;
    color: var(--color-secundario);
}

.nuestros-productos h4 {
    font-size: 28px;
}

.nuestros-productos h4 span {
    color: var(--color-principal);
    font-weight: 800;
    font-size: 38px;
}

.titulo-seccion {
    font-size: 60px;
    color: var(--color-blanco);
    margin: 30px 0;
}

.titulo-seccion span {
    background-image: var(--gradiente-color-principal);
    padding: 10px;
    display: inline-block;
    transform: rotate(5deg);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
}

.preguntas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 0 5%;
}

.seccion-pregunta {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    max-width: 800px;
    padding: 10px;
}

.seccion-pregunta .texto-grande span {
    text-transform: uppercase;
    color: var(--color-principal-oscuro);
    font-weight: bold;
    padding: 0 3px;
}

/* - Pie Página -- */
footer {
    margin-top: 40px;
    min-height: 140px;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
}

footer .links-iconos {
    flex: 1;

    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer .cookies {
    flex: 2;
}

footer .cookies p {
    font-size: 12px;
    color: var(--color-blanco);
    max-width: 90%;
    margin: 0 auto;
}